@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: 'Proxima Nova Rg';
  color: #000;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased; }
  body.fixed {
    overflow-y: hidden; }

*,
*:after,
*:before {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #0040D5; }

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #0040D5; }

::-moz-selection {
  color: #fff;
  background-color: #0040D5; }

::selection {
  color: #fff;
  background-color: #0040D5; }

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer; }

a {
  color: #fff; }

button {
  border: transparent;
  background: none; }

option {
  color: #000; }

input,
textarea,
select {
  color: #000;
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
  padding: 12px 30px;
  background-color: #fff; }

input,
select {
  border: none; }

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #000; }

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  color: #000; }

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder {
  color: #000; }

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #000; }

input:focus,
textarea:focus,
input:active,
textarea:active {
  color: #000;
  outline: none; }

.shd,
button:active {
  -webkit-box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
          box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64); }
  .shd .shd:hover,
  button:active .shd:hover {
    -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
            box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69); }

.btn {
  outline: none;
  font-size: 13px;
  font-family: 'Proxima Nova Bl';
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 15px 30px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#0040d5), to(#0057ff));
  background: -webkit-linear-gradient(left, #0040d5 0%, #0057ff 100%);
  background: -o-linear-gradient(left, #0040d5 0%, #0057ff 100%);
  background: linear-gradient(to right, #0040d5 0%, #0057ff 100%);
  position: relative;
  display: block;
  max-width: 320px;
  -webkit-border-radius: 0;
          border-radius: 0; }
  .btn:hover {
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#0040d5), to(#0057ff));
    background: -webkit-linear-gradient(left, #0040d5 0%, #0057ff 100%);
    background: -o-linear-gradient(left, #0040d5 0%, #0057ff 100%);
    background: linear-gradient(to right, #0040d5 0%, #0057ff 100%);
    opacity: .9;
    -webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
            transform: scale(0.97); }
  .btn_transp {
    background: transparent;
    border: 1px solid #fff; }
    .btn_transp:hover {
      background: #0057ff;
      border-color: #0057ff; }
  .btn_arrow {
    padding-right: 40px; }
    .btn_arrow::after {
      content: '\2192';
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      position: absolute;
      right: 38px;
      top: 8px;
      font-family: 'Arial';
      z-index: 2; }

.list_circle {
  list-style-type: none;
  padding-left: 0; }
  .list_circle li {
    padding-left: 25px;
    position: relative; }
    .list_circle li {
      margin-bottom: 10px; }
    .list_circle li::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #0040D5;
      left: 0;
      top: 8px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }

.list_number {
  list-style-type: none;
  padding-left: 0; }
  .list_number__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .list_number__item-num {
      font-size: 18px;
      font-family: 'Proxima Nova Bl';
      margin-right: 10px; }
    .list_number__item {
      margin-bottom: 10px; }

.popup__container {
  padding: 40px;
  background-color: transparent; }
  .popup__container .fancybox-close-small {
    top: 40px;
    right: 40px;
    color: #fff; }
  .popup__container .popup__wrp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
  .popup__container .popup_call__wrp {
    max-width: 420px; }
    .popup__container .popup_call__wrp .popup {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      background: -webkit-gradient(linear, left top, right top, from(#2c3447), to(#1a1c2c));
      background: -webkit-linear-gradient(left, #2c3447 0%, #1a1c2c 100%);
      background: -o-linear-gradient(left, #2c3447 0%, #1a1c2c 100%);
      background: linear-gradient(to right, #2c3447 0%, #1a1c2c 100%);
      color: #fff;
      padding: 20px 45px 30px;
      text-align: center; }
      .popup__container .popup_call__wrp .popup__ttl {
        font-family: 'Proxima Nova Bl', sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 8px; }
      .popup__container .popup_call__wrp .popup__subttl {
        font-family: 'Proxima Nova Rg', sans-serif;
        font-size: 16px;
        margin-bottom: 25px; }
      .popup__container .popup_call__wrp .popup .input__wrp {
        width: 100%; }
      .popup__container .popup_call__wrp .popup .form__input {
        color: #000;
        margin-bottom: 15px;
        background-color: #fff;
        border: none;
        width: 80%;
        padding: 12px 30px; }
      .popup__container .popup_call__wrp .popup input.form__input::-webkit-input-placeholder {
        color: #000; }
      .popup__container .popup_call__wrp .popup input.form__input:-ms-input-placeholder {
        color: #000; }
      .popup__container .popup_call__wrp .popup input.form__input::-ms-input-placeholder {
        color: #000; }
      .popup__container .popup_call__wrp .popup input.form__input::placeholder {
        color: #000; }
      .popup__container .popup_call__wrp .popup .btn {
        width: 70%;
        margin-bottom: 15px; }
      .popup__container .popup_call__wrp .popup__policy {
        margin-top: 15px;
        max-width: 230px;
        text-align: center;
        font-size: 12px; }
        .popup__container .popup_call__wrp .popup__policy a {
          font-size: 12px;
          color: #667bb4;
          text-decoration: underline; }

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0; }
  .owl-carousel .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    background-color: transparent;
    position: relative;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
    .owl-carousel .owl-dots button.owl-dot:not(:last-child) {
      margin-right: 13px; }
    .owl-carousel .owl-dots button.owl-dot.active {
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9);
      border-color: transparent;
      background-color: #00BFF3; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  bottom: 50%;
  margin-bottom: -25.5px;
  padding: 10px !important; }

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9); }

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: .4;
  background-color: transparent; }

.owl-carousel .owl-nav button.owl-prev {
  left: 0; }

.owl-carousel .owl-nav button.owl-next {
  right: 0; }

.section_inner {
  padding: 60px 0; }

.section__ttl {
  font-size: 30px;
  color: #000;
  font-family: 'Proxima Nova Bl';
  letter-spacing: 9px;
  margin-bottom: 45px;
  text-align: center;
  text-transform: uppercase; }

.section__subttl {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #99AAB7;
  letter-spacing: 3.5px;
  margin-top: -35px;
  margin-bottom: 45px; }

.und {
  position: relative; }
  .und::before, .und::after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    bottom: -4px; }
  .und::before {
    background-color: #fff;
    opacity: .5;
    width: 100%; }
  .und::after {
    background-color: #00BFF3;
    opacity: 1;
    width: 0;
    -webkit-transition: .6s all ease;
    -o-transition: .6s all ease;
    transition: .6s all ease; }
  .und:hover {
    color: #00BFF3; }
    .und:hover::after {
      width: 100%; }

@-webkit-keyframes expandBg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }

@keyframes expandBg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }

.banner {
  position: relative;
  color: #fff;
  overflow: hidden; }
  .banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/banner__bg.jpg);
    opacity: 1;
    -webkit-animation: expandBg 15s linear;
            animation: expandBg 15s linear;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  .banner::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(#2c3447), to(#1a1c2c));
    background: -webkit-linear-gradient(left, #2c3447 0%, #1a1c2c 100%);
    background: -o-linear-gradient(left, #2c3447 0%, #1a1c2c 100%);
    background: linear-gradient(to right, #2c3447 0%, #1a1c2c 100%);
    opacity: .6; }
  .banner__container {
    position: relative;
    z-index: 1; }
    .banner__container .header {
      padding: 20px 0; }
      .banner__container .header__hamburger {
        display: none;
        position: absolute;
        top: 55px;
        right: 23px;
        width: 32px;
        height: 2px;
        background-color: #fff;
        opacity: 1;
        z-index: 2;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .banner__container .header__hamburger::before, .banner__container .header__hamburger::after {
          content: '';
          position: absolute;
          width: 32px;
          height: 2px;
          background-color: #fff;
          left: 0; }
        .banner__container .header__hamburger::before {
          top: -14px; }
        .banner__container .header__hamburger::after {
          bottom: -14px; }
        .banner__container .header__hamburger.active {
          background-color: transparent;
          z-index: 6;
          top: 9px;
          right: 23px;
          width: 32px;
          height: 40px; }
          .banner__container .header__hamburger.active::before {
            width: 39px;
            top: 24px;
            -webkit-transform: rotate(315deg);
                -ms-transform: rotate(315deg);
                    transform: rotate(315deg);
            background-color: #fff; }
          .banner__container .header__hamburger.active::after {
            width: 39px;
            bottom: 14px;
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
            background-color: #fff; }
      .banner__container .header__logo img {
        max-width: 170px; }
      .banner__container .header__logo:hover {
        opacity: .5;
        -webkit-transform: scale(0.95);
            -ms-transform: scale(0.95);
                transform: scale(0.95); }
      .banner__container .header__item {
        margin-bottom: 15px;
        position: relative;
        font-size: 16px;
        padding-left: 26px; }
        .banner__container .header__item:hover {
          color: #00BFF3; }
        .banner__container .header__item::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0px;
          width: 20px;
          height: 20px;
          background-position: 50% 50%;
          -webkit-background-size: contain;
                  background-size: contain;
          background-repeat: no-repeat; }
        .banner__container .header__item_geo::before {
          background-image: url(../img/icon__geo.png); }
        .banner__container .header__item_time::before {
          background-image: url(../img/icon__time.png); }
        .banner__container .header__item_tel {
          font-family: 'Proxima Nova Bl';
          margin-bottom: 0;
          margin-right: 25px; }
          .banner__container .header__item_tel::before {
            background-image: url(../img/icon__tel.png); }
        .banner__container .header__item_mail {
          margin-bottom: 0; }
          .banner__container .header__item_mail::before {
            background-image: url(../img/icon__mes.png);
            left: -2px; }
      .banner__container .header__search {
        min-height: 52px;
        margin-bottom: 10px;
        position: relative; }
        .banner__container .header__search-query {
          color: #fff;
          width: 0;
          padding: 0;
          border: 0;
          background-color: transparent; }
        .banner__container .header__search-query::-webkit-input-placeholder {
          color: #fff; }
        .banner__container .header__search-query:-ms-input-placeholder {
          color: #fff; }
        .banner__container .header__search-query::-ms-input-placeholder {
          color: #fff; }
        .banner__container .header__search-query::placeholder {
          color: #fff; }
        .banner__container .header__search-submit {
          content: '';
          position: absolute;
          width: 19px;
          height: 20px;
          top: 16px;
          right: 7px;
          padding: 8px 16px;
          background: url(../img/icon__search.png) no-repeat center center/contain;
          border: none; }
        .banner__container .header__search.active .header__search-query {
          width: 100%;
          padding: 15px 35px 15px 30px;
          border: 1px solid #fff; }
    .banner__container .main-nav {
      padding: 10px 0 25px; }
      .banner__container .main-nav__logo {
        display: none;
        opacity: 0;
        margin-bottom: 25px;
        text-align: center; }
      .banner__container .main-nav__link {
        text-transform: uppercase;
        font-family: 'Proxima Nova Bl';
        text-align: center;
        margin: 5px; }
      .banner__container .main-nav__item {
        margin-bottom: 15px;
        position: relative;
        font-size: 16px;
        padding-left: 26px;
        display: none; }
        .banner__container .main-nav__item::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0px;
          width: 20px;
          height: 20px;
          background-position: 50% 50%;
          -webkit-background-size: contain;
                  background-size: contain;
          background-repeat: no-repeat; }
        .banner__container .main-nav__item_geo::before {
          background-image: url(../img/icon__geo.png); }
        .banner__container .main-nav__item_time::before {
          background-image: url(../img/icon__time.png); }
    .banner__container .offer {
      padding: 30px 0 210px; }
      .banner__container .offer__ttl {
        max-width: 700px;
        font-family: 'Proxima Nova Bl';
        font-size: 36px;
        margin-bottom: 25px; }
      .banner__container .offer__btn {
        max-width: 400px;
        padding-right: 50px; }
        .banner__container .offer__btn:hover {
          -webkit-transform: scale(1);
              -ms-transform: scale(1);
                  transform: scale(1); }
        .banner__container .offer__btn:hover::after {
          right: 30px; }

.top__form {
  background: -webkit-gradient(linear, left top, right top, from(#2c3447), to(#1a1c2c));
  background: -webkit-linear-gradient(left, #2c3447 0%, #1a1c2c 100%);
  background: -o-linear-gradient(left, #2c3447 0%, #1a1c2c 100%);
  background: linear-gradient(to right, #2c3447 0%, #1a1c2c 100%);
  padding: 30px;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  margin-bottom: -100px;
  color: #fff;
  position: relative; }
  .top__form-top {
    margin-bottom: 25px; }
  .top__form-ttl {
    font-family: 'Proxima Nova Bl';
    font-size: 28px;
    margin-bottom: 15px; }
  .top__form-subttl {
    font-size: 20px; }
  .top__form-input-wrp input[type="tel"] {
    background-color: #fff;
    margin-right: 10px; }

.works .col-xl-3 {
  padding-left: 0;
  padding-right: 0; }

.works__cnt {
  margin: 0; }

.works__item {
  max-width: 470px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  padding: 15px 20px;
  color: #fff;
  -webkit-box-shadow: inset 0px -142px 70px -44px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px -142px 70px -44px rgba(0, 0, 0, 0.75);
  -webkit-transition: .8s all ease;
  -o-transition: .8s all ease;
  transition: .8s all ease; }
  .works__item:hover {
    text-decoration: none;
    -webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
            transform: scale(0.97);
    color: #fff;
    -webkit-box-shadow: inset 0px -142px 92px -30px rgba(11, 21, 48, 0.89);
            box-shadow: inset 0px -142px 92px -30px rgba(11, 21, 48, 0.89); }
  .works__item-ttl {
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: underline; }
  .works__item-time {
    position: relative;
    margin-right: 40px;
    padding-left: 25px; }
    .works__item-time::before {
      content: '';
      position: absolute;
      left: 0;
      top: -1px;
      width: 19px;
      height: 19px;
      background: url(../img/icon__time.png) no-repeat 50% 50%/contain; }
  .works__item-area {
    position: relative;
    padding-left: 25px; }
    .works__item-area::before {
      content: '';
      position: absolute;
      left: 0;
      top: -1px;
      width: 19px;
      height: 19px;
      background: url(../img/icon__area.png) no-repeat 50% 50%/contain; }

.works__btn {
  margin: 25px auto 0; }

.test {
  padding-bottom: 30px; }
  .test__item {
    margin-bottom: 15px; }
    .test__item-img {
      width: 75px;
      height: 75px;
      background-position: 50% 50%;
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat; }
    .test__item-ttl {
      width: 70%;
      font-size: 16px;
      margin-left: 15px; }

.hot {
  overflow: hidden; }
  .hot .hot__cnt .owl-nav button.owl-prev {
    left: -60px; }
  .hot .hot__cnt .owl-nav button.owl-next {
    right: -60px; }
  .hot__item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 370px;
    min-height: 300px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    padding: 15px 20px;
    color: #fff;
    -webkit-box-shadow: inset 0px -142px 70px -44px rgba(0, 0, 0, 0.75);
            box-shadow: inset 0px -142px 70px -44px rgba(0, 0, 0, 0.75);
    -webkit-transition: .8s all ease;
    -o-transition: .8s all ease;
    transition: .8s all ease; }
    .hot__item:hover {
      text-decoration: none;
      -webkit-transform: scale(0.97);
          -ms-transform: scale(0.97);
              transform: scale(0.97);
      color: #fff;
      -webkit-box-shadow: inset 0px -142px 92px -30px rgba(11, 21, 48, 0.89);
              box-shadow: inset 0px -142px 92px -30px rgba(11, 21, 48, 0.89); }
    .hot__item-ttl {
      font-size: 16px;
      margin-bottom: 10px;
      text-decoration: underline; }
    .hot__item-list-item {
      position: relative;
      padding-left: 21px; }
      .hot__item-list-item::before {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 16px;
        height: 15px;
        background: url(../img/icon__arr.svg) no-repeat 50% 50%/contain; }
    .hot__item-list-item:not(:last-child) {
      margin-bottom: 7px; }

.clients__item {
  width: 90%;
  height: 90px;
  margin: auto;
  background-position: 50% 50%;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
  .clients__item:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%); }
  .clients__item-wrp {
    border: 1px solid rgba(204, 204, 204, 0.59);
    padding: 15px 15px; }

.news {
  background-color: #F4F4F4; }
  .news__item {
    margin-bottom: 35px; }
    .news__item-img {
      width: 100%;
      height: 182px;
      background-position: 50% 50%;
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 10px; }
    .news__item-ttl {
      color: #000;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 7px; }
    .news__item-descr {
      color: #585555;
      font-weight: 300;
      margin-bottom: 10px; }
    .news__item-btn {
      display: inline;
      position: relative;
      font-family: 'Proxima Nova Bl';
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #0040D5; }
      .news__item-btn::after {
        color: #0040D5;
        right: 8px;
        top: -7px; }
    .news__item:hover {
      opacity: .7; }
  .news__btn {
    margin: 25px auto 0; }

.seo-text {
  text-align: center; }

.footer {
  position: relative;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 20px 0; }
  .footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .8; }
  .footer__container {
    position: relative; }
    .footer__container .footer-top {
      padding: 20px 0; }
      .footer__container .footer-top__logo img {
        max-width: 190px; }
      .footer__container .footer-top__logo:hover {
        opacity: .5;
        -webkit-transform: scale(0.95);
            -ms-transform: scale(0.95);
                transform: scale(0.95); }
      .footer__container .footer-top__item {
        margin-right: 25px;
        position: relative;
        font-size: 17px;
        padding-left: 30px; }
        .footer__container .footer-top__item:hover {
          color: #00BFF3; }
        .footer__container .footer-top__item::before {
          content: '';
          position: absolute;
          left: 0;
          top: -1px;
          width: 25px;
          height: 25px;
          background-position: 50% 50%;
          -webkit-background-size: contain;
                  background-size: contain;
          background-repeat: no-repeat; }
        .footer__container .footer-top__item_tel {
          font-family: 'Proxima Nova Bl'; }
          .footer__container .footer-top__item_tel::before {
            background-image: url(../img/icon__tel.png); }
        .footer__container .footer-top__item_mail::before {
          background-image: url(../img/icon__mes.png);
          left: -2px; }
    .footer__container .footer-bot {
      margin: 10px auto; }
      .footer__container .footer-bot .footer__list {
        margin-bottom: 15px; }
        .footer__container .footer-bot .footer__list-ttl {
          font-size: 16px;
          font-family: 'Proxima Nova Bl';
          color: #626262;
          letter-spacing: 2px;
          text-transform: uppercase;
          margin-bottom: 10px; }
          .footer__container .footer-bot .footer__list-ttl_soc {
            margin-top: 10px; }
        .footer__container .footer-bot .footer__list-item:not(:last-child) {
          margin-bottom: 7px; }
      .footer__container .footer-bot .footer__soc-link:not(:last-child) {
        margin-right: 8px; }
      .footer__container .footer-bot .footer__soc-link:hover {
        opacity: .7;
        -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
                transform: scale(0.9); }
      .footer__container .footer-bot .footer__site-creator {
        text-transform: uppercase; }
        .footer__container .footer-bot .footer__site-creator span:not(:last-child) {
          margin-right: 5px; }
        .footer__container .footer-bot .footer__site-creator span:nth-child(1) {
          color: #626262; }
        .footer__container .footer-bot .footer__site-creator span:nth-child(3) {
          color: #fff; }
        .footer__container .footer-bot .footer__site-creator:hover {
          -webkit-transform: scale(1.05);
              -ms-transform: scale(1.05);
                  transform: scale(1.05);
          opacity: .7; }

.banner_inner {
  background-color: #fff;
  color: #000; }
  .banner_inner::before, .banner_inner::after {
    display: none; }
  .banner_inner__container .header {
    color: #000; }
    .banner_inner__container .header__hamburger {
      background-color: #000; }
      .banner_inner__container .header__hamburger::before, .banner_inner__container .header__hamburger::after {
        background-color: #000; }
    .banner_inner__container .header__item_geo::before {
      background-image: url(../img/icon__geo_black.png); }
    .banner_inner__container .header__item_time::before {
      background-image: url(../img/icon__time_black.png); }
    .banner_inner__container .header__item_tel {
      color: #000; }
      .banner_inner__container .header__item_tel::before {
        background-image: url(../img/icon__tel_black.png); }
    .banner_inner__container .header__item_mail {
      color: #000; }
      .banner_inner__container .header__item_mail::before {
        background-image: url(../img/icon__mes_black.png); }
    .banner_inner__container .header__search-query {
      color: #000; }
    .banner_inner__container .header__search-query::-webkit-input-placeholder {
      color: #000; }
    .banner_inner__container .header__search-query:-ms-input-placeholder {
      color: #000; }
    .banner_inner__container .header__search-query::-ms-input-placeholder {
      color: #000; }
    .banner_inner__container .header__search-query::placeholder {
      color: #000; }
    .banner_inner__container .header__search-submit {
      background: url(../img/icon__search_black.png) no-repeat center center/contain; }
    .banner_inner__container .header__search.active .header__search-query {
      border: 1px solid #000; }
    .banner_inner__container .header__btn {
      border-color: #000;
      color: #000; }
      .banner_inner__container .header__btn:hover {
        border-color: transparent;
        color: #fff; }
  .banner_inner__container .main-nav__link {
    color: #000; }
  .banner_inner__container .main-nav__item_geo::before {
    background-image: url(../img/icon__geo.png); }
  .banner_inner__container .main-nav__item_time::before {
    background-image: url(../img/icon__time.png); }
  .banner_inner__container .main-nav .und::before {
    background-color: #000; }
  .banner_inner .crumbs__wrp {
    background-color: #F2F2F2; }
    .banner_inner .crumbs__wrp .crumbs {
      margin: 0;
      padding: 12px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      list-style-type: none; }
      .banner_inner .crumbs__wrp .crumbs li:not(:last-child) {
        margin-right: 35px;
        position: relative; }
        .banner_inner .crumbs__wrp .crumbs li:not(:last-child)::after {
          content: '\2192';
          color: #99AAB7;
          font-size: 20px;
          font-weight: 600;
          position: absolute;
          right: -28px;
          top: -4px;
          font-family: 'Arial'; }
        .banner_inner .crumbs__wrp .crumbs li:not(:last-child) a {
          color: #0040D5;
          text-decoration: underline; }
          .banner_inner .crumbs__wrp .crumbs li:not(:last-child) a:hover {
            opacity: .7; }
  .banner_inner .banner__in {
    background-position: 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    color: #fff; }
    .banner_inner .banner__in::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -webkit-gradient(linear, left top, right top, from(#2c3447), to(#1a1c2c));
      background: -webkit-linear-gradient(left, #2c3447 0%, #1a1c2c 100%);
      background: -o-linear-gradient(left, #2c3447 0%, #1a1c2c 100%);
      background: linear-gradient(to right, #2c3447 0%, #1a1c2c 100%);
      opacity: .6; }
    .banner_inner .banner__in .container {
      position: relative;
      padding: 40px 0 180px; }
      .banner_inner .banner__in .container .banner__ttl {
        text-align: center;
        max-width: 700px;
        font-family: 'Proxima Nova Bl';
        font-size: 36px;
        margin-bottom: 35px; }
      .banner_inner .banner__in .container .banner__adv {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .banner_inner .banner__in .container .banner__adv-wrp {
          max-width: 500px; }
        .banner_inner .banner__in .container .banner__adv-img {
          width: 100%;
          height: 70px;
          background-position: 50% 50%;
          -webkit-background-size: contain;
                  background-size: contain;
          background-repeat: no-repeat;
          margin-bottom: 15px; }
        .banner_inner .banner__in .container .banner__adv-descr {
          text-align: center;
          font-family: 'Proxima Nova Bl'; }
    .banner_inner .banner__in_sub .container {
      padding: 60px 0; }
      .banner_inner .banner__in_sub .container .banner__ttl {
        font-size: 28px;
        text-align: center;
        max-width: 400px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 0; }

.top__form-wrp_inner {
  padding-bottom: 50px;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }
  .top__form-wrp_inner .btn__more {
    margin: 25px auto;
    max-width: 460px;
    padding-left: 5px;
    padding-right: 5px; }
  .top__form-wrp_inner .top__form-buttons .btn__price,
  .top__form-wrp_inner .top__form-buttons .btn__cat {
    margin: 25px;
    width: 290px;
    padding-left: 5px;
    padding-right: 5px; }
  .top__form-wrp_inner .top__form-buttons .btn__cat {
    border: 1px solid #fff;
    background: transparent; }

.feed__calc {
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }
  .feed__calc-item-wrp:not(:last-child) {
    margin-bottom: 20px; }
  .feed__calc-item .input__ttl {
    font-size: 16px;
    color: #fff;
    font-family: 'Proxima Nova Bl';
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .feed__calc .input__wrp {
    width: 100%; }
    .feed__calc .input__wrp > * {
      width: 100%;
      max-width: unset; }

.input__wrp_select {
  position: relative; }
  .input__wrp_select::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 10px;
    right: 7px;
    top: 50%;
    margin-top: -5px;
    background: url("../img/icon__select-arr.png") no-repeat 50% 50%/contain; }
  .input__wrp_select select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%; }

.gallery {
  padding: 20px 0; }
  .gallery__item {
    width: 100%;
    max-width: 270px;
    display: block;
    height: 219px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    margin: 15px auto; }
    .gallery__item:hover {
      opacity: .7;
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9); }

.cert {
  overflow: hidden; }
  .cert__cnt .owl-nav button.owl-prev {
    left: -60px; }
  .cert__cnt .owl-nav button.owl-next {
    right: -60px; }
  .cert__item {
    width: 100%;
    max-width: 170px;
    display: block;
    height: 240px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto; }

.seller {
  background: url("../img/seller__bg.jpg") no-repeat 50% 50%/cover;
  color: #fff; }
  .seller__ttl {
    font-size: 30px;
    color: #fff;
    font-family: 'Proxima Nova Bl';
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    max-width: 500px; }
    .seller__ttl span {
      text-decoration: underline; }
  .seller__descr {
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px; }
  .seller .btn {
    width: 200px; }

.options__item {
  max-width: 200px;
  margin: 10px;
  text-align: center; }

.options__img {
  width: 100%;
  max-width: 70px;
  display: block;
  height: 70px;
  background-position: 50% 50%;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto 15px; }

.options__ttl {
  font-family: 'Proxima Nova Bl';
  text-transform: uppercase;
  margin-bottom: 8px; }

.options_sub {
  padding-top: 0;
  margin-bottom: 70px; }

.videos {
  padding-top: 0;
  overflow: hidden; }
  .videos__cnt .owl-nav button.owl-prev {
    left: -60px; }
  .videos__cnt .owl-nav button.owl-next {
    right: -60px; }
  .videos__item {
    width: 100%;
    max-width: 370px;
    display: block;
    height: 200px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative; }
    .videos__item::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -webkit-gradient(linear, left top, right top, from(#2c3447), to(#1a1c2c));
      background: -webkit-linear-gradient(left, #2c3447 0%, #1a1c2c 100%);
      background: -o-linear-gradient(left, #2c3447 0%, #1a1c2c 100%);
      background: linear-gradient(to right, #2c3447 0%, #1a1c2c 100%);
      opacity: .6; }
    .videos__item span {
      position: absolute;
      width: 75px;
      height: 54px;
      left: 50%;
      margin-left: -37.5px;
      top: 50%;
      margin-top: -27px;
      background: url("../img/icon__play.png") no-repeat 50% 50%/cover; }
    .videos__item:hover::before {
      opacity: 0.8; }
    .videos__item:hover span {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }

.sidebar {
  margin-bottom: 35px; }
  .sidebar__list {
    margin-bottom: 20px; }
    .sidebar__list-item {
      font-family: 'Proxima Nova Bl';
      display: block;
      padding: 12px 37px 12px 15px;
      color: #000;
      text-transform: uppercase;
      background-color: #F4F4F4;
      position: relative; }
      .sidebar__list-item::after {
        content: '\2192';
        color: #000;
        font-size: 20px;
        font-weight: 600;
        position: absolute;
        right: 15px;
        top: 6px;
        font-family: 'Arial';
        z-index: 2; }
      .sidebar__list-item.active {
        color: #fff;
        background: -webkit-gradient(linear, left top, right top, from(#0040d5), to(#0057ff));
        background: -webkit-linear-gradient(left, #0040d5 0%, #0057ff 100%);
        background: -o-linear-gradient(left, #0040d5 0%, #0057ff 100%);
        background: linear-gradient(to right, #0040d5 0%, #0057ff 100%); }
        .sidebar__list-item.active::after {
          color: #fff; }
      .sidebar__list-item:hover:not(.active) {
        background-color: #ccc; }

.content__item {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }
  .content__item:hover {
    text-decoration: none;
    -webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
            transform: scale(0.97);
    color: #fff; }
  .content__item-top {
    width: 100%;
    min-height: 220px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    padding: 15px 20px;
    color: #fff;
    -webkit-box-shadow: inset 0px -142px 70px -44px rgba(0, 0, 0, 0.75);
            box-shadow: inset 0px -142px 70px -44px rgba(0, 0, 0, 0.75);
    -webkit-transition: .8s all ease;
    -o-transition: .8s all ease;
    transition: .8s all ease; }
  .content__item:hover .content__item-top {
    -webkit-box-shadow: inset 0px -142px 92px -30px rgba(11, 21, 48, 0.89);
            box-shadow: inset 0px -142px 92px -30px rgba(11, 21, 48, 0.89); }
  .content__item-ttl {
    color: #000;
    font-size: 16px;
    font-family: 'Proxima Nova Bl';
    margin-top: 10px; }
  .content__item-list-item {
    position: relative;
    padding-left: 21px; }
    .content__item-list-item::before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 16px;
      height: 15px;
      background: url(../img/icon__arr.svg) no-repeat 50% 50%/contain; }
  .content__item-list-item:not(:last-child) {
    margin-bottom: 7px; }

.test_sub {
  padding-top: 0; }
  .test_sub__item {
    margin-bottom: 15px;
    text-align: center; }
  .test_sub__img {
    width: 100%;
    max-width: 70px;
    display: block;
    height: 70px;
    background-position: 50% 50%;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto 15px; }
  .test_sub__ttl {
    font-family: 'Proxima Nova Bl';
    text-transform: uppercase;
    margin-bottom: 8px; }
  .test_sub_sub {
    padding-top: 0;
    margin-bottom: 70px; }

@media screen and (max-width: 1000px) {
  .footer-top,
  .header {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .header__logo {
    display: block;
    text-align: center;
    margin-bottom: 15px; }
  .footer-top__logo {
    margin-bottom: 15px; }
  .header__btn {
    margin: 15px auto 0; }
  .banner__container .header__search {
    width: 100%;
    margin-top: 15px;
    margin-left: 0; }
  .header__search .header__search-query {
    display: block;
    width: 100%;
    padding: 15px 35px 15px 30px;
    border: 1px solid #fff; }
  .banner_inner .header__search {
    margin-top: 15px; }
  .banner_inner .header__search .header__search-query {
    border-color: #000; }
  .main-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .main-nav__link {
    margin-bottom: 15px; }
  .top__form {
    text-align: center; }
  .top__form-top {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .top__form-input-wrp {
    margin-top: 30px; } }

@media screen and (max-width: 768px) {
  .banner__container .offer__ttl {
    font-size: 26px; }
  .top__form-ttl {
    font-size: 22px; }
  .footer-top__right {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .banner__container .header__search {
    margin-left: 0; }
  .banner__container .header__item,
  .footer__container .footer-top__item {
    margin-right: 0; }
  .banner__container .header__item_tel {
    margin-right: 10px; }
  .header__item,
  .header__btn,
  .footer-top__item,
  .footer-top__btn {
    margin-bottom: 15px; }
  .section__ttl,
  .main-slider__ttl {
    font-size: 25px;
    margin-bottom: 25px; }
  .banner__container .header__hamburger {
    display: block; }
  .clients__item {
    -webkit-filter: grayscale(0);
            filter: grayscale(0); }
  .banner__container .main-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    z-index: -1;
    left: -100%;
    top: 0;
    background: -webkit-gradient(linear, left top, right top, from(#2c3447), to(#1a1c2c));
    background: -webkit-linear-gradient(left, #2c3447 0%, #1a1c2c 100%);
    background: -o-linear-gradient(left, #2c3447 0%, #1a1c2c 100%);
    background: linear-gradient(to right, #2c3447 0%, #1a1c2c 100%);
    opacity: 0;
    padding-left: 30px;
    padding-right: 30px; }
    .banner__container .main-nav.active {
      color: #fff;
      left: 0;
      z-index: 4;
      opacity: 1; }
      .banner__container .main-nav.active > a {
        color: #fff; }
      .banner__container .main-nav.active .main-nav__logo {
        display: block;
        opacity: 1; }
      .banner__container .main-nav.active .main-nav__link:not(:last-child) {
        margin-bottom: 13px; }
      .banner__container .main-nav.active .main-nav__contacts {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
  .banner__container .main-nav__item {
    display: block; }
  .header__item_geo,
  .header__item_time,
  .header__btn {
    display: none; }
  .hot .hot__cnt .owl-nav button.owl-prev,
  .cert .hot__cnt .owl-nav button.owl-prev,
  .videos .videos__cnt .owl-nav button.owl-prev {
    left: 0px; }
  .hot .hot__cnt .owl-nav button.owl-next,
  .cert .hot__cnt .owl-nav button.owl-next,
  .videos .videos__cnt .owl-nav button.owl-next {
    right: 0px; }
  .clients__item-wrp {
    max-width: 100%; }
  .gallery__cnt {
    margin-left: 0;
    margin-right: 0; }
  .gallery__cnt .owl-item > div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%; }
  .works__cnt > div {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .clients__cnt {
    margin-left: 0;
    margin-right: 0; }
  .footer-top__logo {
    display: none; }
  .footer__container .footer__list:nth-child(1),
  .footer__container .footer__list:nth-child(2) {
    display: none !important; }
  .footer__container .footer-bot .footer__list {
    margin-bottom: 35px; }
  .banner_inner .banner__in .container .banner__adv {
    margin-bottom: 25px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 576px) {
  .section__ttl {
    letter-spacing: 3px; }
  .top__form-input-wrp {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .top__form-input-wrp input[type="tel"] {
    margin-right: 0;
    margin-bottom: 10px; }
  .popup__container .popup_call__wrp .popup {
    padding-left: 10px;
    padding-right: 10px; }
  .popup__container .popup_call__wrp .popup .form__input {
    width: 90%; }
  .popup__container {
    padding: 42px 15px; }
  .popup__container .fancybox-close-small {
    right: 10px; }
  .feed__calc-item-wrp:last-child {
    margin-bottom: 25px; }
  .banner_inner .banner__in_sub .container .banner__ttl {
    font-size: 18px; }
  .btn_arrow::after {
    display: none; } }

@media screen and (max-width: 370px) {
  .banner_inner .banner__in .container .banner__ttl {
    font-size: 26px; }
  .banner_inner .banner__in_sub .container .banner__ttl {
    font-size: 18px; }
  .header__right {
    width: 100%;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .banner__container .header__item_tel {
    margin-right: 10px; }
  .descr__text .section__ttl {
    font-size: 18px; } }

@media screen and (max-width: 344px) {
  .header__item_mail {
    margin-left: 5px;
    margin-top: 15px; } }
