@import "../fonts/fonts.css"
@import "libs"

body
	scroll-behavior: smooth
	background-color: #fff
	font-family: 'Proxima Nova Rg'
	color: #000
	font-size: 14px
	line-height: 1.4
	position: relative
	-webkit-font-smoothing: antialiased
	&.fixed
		overflow-y: hidden
*,
*:after,
*:before
	transition: .3s all ease
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection
	color            : #fff
	background-color : #0040D5
::selection
	color            : #fff
	background-color : #0040D5
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active
	text-decoration: none
	outline: none
	transition: all 0.4s ease
	cursor: pointer
a
	color: #fff
button
	border: transparent
	background: none
option
	color: #000
textarea
	resize:none
input,
textarea,
select
	color: #000
	font-family: 'Proxima Nova Rg'
	font-size: 14px
	padding: 8px 30px
	background: none
input,
select
	border: none
	border-bottom: 1px solid #000
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder
	color: #000
input:focus,
textarea:focus,
input:active,
textarea:active
	background: none
	color: #000
	border-bottom: 1px solid #0040D5
	border-color: #0040D5
	outline: none
.shd,
button:active
	box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64)
	.shd:hover
		box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.69)
.btn
	outline: none
	font-size: 13px
	font-family: 'Proxima Nova Bl'
	text-transform: uppercase
	letter-spacing: 1px
	text-align: center
	padding: 15px 30px
	color: #fff
	background: linear-gradient(to right, rgb(0,64,213) 0%,rgb(0,87,255) 100%)
	position: relative
	display: block
	max-width: 320px
	border-radius: 0
	&:hover
		color: #fff
		background: linear-gradient(to right, rgb(0,64,213) 0%,rgb(0,87,255) 100%)
		opacity: .9
		transform: scale(.97)
	&_transp
		background: transparent
		border: 1px solid #fff
		&:hover
			background: rgb(0,87,255)
			border-color: rgb(0,87,255)

	&_arrow
		padding-right: 40px
		&::after
			content: '\2192'
			color: #fff
			font-size: 20px
			font-weight: 600
			position: absolute
			right: 38px
			top: 7px
			font-family: 'Arial'
			z-index: 2
.list_circle
	list-style-type: none
	padding-left: 0
	li
		padding-left: 25px
		position: relative
		&
			margin-bottom: 10px
		&::before
			content: ''
			position: absolute
			width: 8px
			height: 8px
			background-color: #0040D5
			left: 0
			top: 8px
			border-radius: 50%
.popup__container
	padding: 40px
	background-color: transparent
	.fancybox-close-small
		top: 40px
		right: 40px
		color: #fff
	.popup__wrp
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: center
		position: relative
		// &::before
		// 	z-index: 1
		// 	content: ''
		// 	position: absolute
		// 	height: 110%
		// 	width: 110%
		// 	top: -5%
		// 	right: -5%
		// 	bottom: -5%
		// 	left: -5%
		// 	z-index: 1
		// 	background: linear-gradient(to right, rgb(0,64,213) 0%,rgb(0,87,255) 100%)
		// 	opacity: .7
	.popup_call__wrp
		max-width: 420px
		.popup
			width: 100%
			height: 100%
			position: relative
			z-index: 2
			display: flex
			flex-direction: column
			align-items: center
			justify-content: flex-start
			background: linear-gradient(to right, #2c3447 0%, #1a1c2c 100%)
			color: #fff
			padding: 20px 45px 30px
			text-align: center
			&__ttl
				font-family: 'Proxima Nova Bl', sans-serif
				text-transform: uppercase
				font-size: 22px
				margin-bottom: 8px
			&__subttl
				font-family: 'Proxima Nova Rg', sans-serif
				font-size: 16px
				margin-bottom: 25px
			.input__wrp
				width: 100%
			.form__input
				color: #000
				margin-bottom: 15px
				background-color: #fff
				border: none
				width: 80%
				padding: 12px 30px
			input.form__input::placeholder
				color: #000
			.btn
				width: 70%
				margin-bottom: 15px
			&__policy
				margin-top: 15px
				max-width: 230px
				text-align: center
				font-size: 12px
				a
					font-size: 12px 
					color: #667bb4
					text-decoration: underline
.owl-carousel
	.owl-dots
		position: absolute
		width: 100%
		display: flex
		justify-content: center
		bottom: 0
		button.owl-dot
			width: 15px
			height: 15px
			border: 1px solid #333
			background-color: transparent
			position: relative
			transform: scale(1)
			&:not(:last-child)
				margin-right: 13px
			&.active
				transform: scale(0.9)
				border-color: transparent
				background-color: #00BFF3
	.owl-nav
		button.owl-prev,
		button.owl-next
			position: absolute
			bottom: 50%
			margin-bottom: -25.5px
			// border: 1px solid #000
			padding: 10px !important
		button.owl-prev:hover,
		button.owl-next:hover
			// background-color: #fff
			transform: scale(.9)
		button.owl-prev.disabled,
		button.owl-next.disabled,
		button.owl-prev.disabled:hover,
		button.owl-next.disabled:hover
			opacity: .4
			background-color: transparent
		button.owl-prev
			left: 0
		button.owl-next
			right: 0
.section_inner
	padding: 60px 0
.section__ttl
	font-size: 30px
	color: #000
	font-family: 'Proxima Nova Bl'
	letter-spacing: 9px
	margin-bottom: 45px
	text-align: center
	text-transform: uppercase
.section__subttl
	font-size: 16px
	text-align: center
	text-transform: uppercase
	color: #99AAB7
	letter-spacing: 3.5px
	margin-top: -35px
	margin-bottom: 45px
// .input__wrp
// 	position: relative
// 	max-width: 230px
// 	input,
// 	select
// 		width: 100%
// 		padding-left: 35px
	// &::before
	// 	content: ''
	// 	position: absolute
	// 	left: 10px
	// 	top: 8px
	// 	width: 12px
	// 	height: 17px
	// 	background-position: 50% 50%
	// 	background-size: contain
	// 	background-repeat: no-repeat
	// &_name:before
	// 	background-image: url(../img/icon__form-name.png)
	// &_mail:before
	// 	background-image: url(../img/icon__form-mes.png)
	// 	top: 8px
	// &_tel:before
	// 	background-image: url(../img/icon__form-tel.png)
	// 	top: 8px
	&:not(:last-child)
		margin-bottom: 15px
.und
	position: relative
	&::before,
	&::after
		content: ''
		position: absolute
		height: 1px
		left: 0
		bottom: -4px
	&::before
		background-color: #fff
		opacity: .5
		width: 100%
	&::after
		background-color: #00BFF3
		opacity: 1
		width: 0
		transition: .6s all ease
	&:hover
		color: #00BFF3
		&::after
			width: 100%
@keyframes expandBg
	0%
		transform: scale(1)
		opacity: 0
	10%
		opacity: 1
	100%
		transform: scale(1.2)
.banner
	position: relative
	color: #fff
	overflow: hidden
	
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-position: 50% 50%
		background-size: cover
		background-repeat: no-repeat
		background-image: url(../img/banner__bg.jpg)
		opacity: 1
		animation: expandBg 15s linear
		animation-iteration-count: 1
		animation-fill-mode: forwards
	&::after
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: linear-gradient(to right, #2c3447 0%, #1a1c2c 100%)
		opacity: .6
	&__container
		position: relative
		z-index: 1
		.header
			padding: 20px 0
			&__hamburger
				display: none
				position: absolute
				top: 35px
				right: 23px
				width: 32px
				height: 2px
				background-color: #00BFF3
				opacity: 1
				z-index: 2
				transition: all 0.5s ease
				&::before,
				&::after
					content: ''
					position: absolute
					width: 32px
					height: 2px
					background-color: #00BFF3
					left: 0
				&::before
					top: -14px
				&::after
					bottom: -14px
				&.active
					background-color: transparent
					z-index: 6
					top: 9px
					right: 23px
					width: 32px
					height: 40px
					&::before
						width: 39px
						top: 24px
						transform: rotate(315deg)
						background-color: #fff
					&::after
						width: 39px
						bottom: 14px
						transform: rotate(45deg)
						background-color: #fff
			&__logo
				img
					max-width: 170px
				&:hover
					opacity: .5
					transform: scale(.95)
			&__item
				margin-bottom: 15px
				position: relative
				font-size: 16px
				padding-left: 26px
				&:hover
					color: #00BFF3
				&::before
					content: ''
					position: absolute
					left: 0
					top: 0px
					width: 20px
					height: 20px
					background-position: 50% 50%
					background-size: contain
					background-repeat: no-repeat
				&_geo
					&::before
						background-image: url(../img/icon__geo.png)
				&_time
					&::before
						background-image: url(../img/icon__time.png)
				&_tel
					font-family: 'Proxima Nova Bl'
					margin-bottom: 0
					margin-right: 25px
					&::before
						background-image: url(../img/icon__tel.png)
				&_mail
					margin-bottom: 0
					&::before
						background-image: url(../img/icon__mes.png)
						left: -2px
			// &__btn
			// 	margin-right: 25px
			&__search
				min-height: 52px
				// margin-left: 55px
				margin-bottom: 10px
				position: relative
				&-query
					color: #fff
					// display: none
					width: 0
					padding: 0
					border: 0
				&-query::placeholder
					color: #fff
				&-submit
					content: ''
					position: absolute
					width: 19px
					height: 20px
					top: 16px
					right: 7px
					padding: 8px 16px
					background: url(../img/icon__search.png) no-repeat center center / contain
					border: none
				&.active .header__search-query
					width: 100%
					padding: 15px 35px 15px 30px
					border: 1px solid #fff
		.main-nav
			padding: 10px 0 25px
			&__logo
				display: none
				opacity: 0
				margin-bottom: 25px
				text-align: center
			&__link
				text-transform: uppercase
				font-family: 'Proxima Nova Bl'
				text-align: center
				margin: 5px
			&.active
		.offer
			padding: 30px 0 210px
			&__ttl
				max-width: 700px
				font-family: 'Proxima Nova Bl'
				font-size: 36px
				margin-bottom: 25px
			&__btn
				max-width: 400px
				padding-right: 50px
				&:hover
					transform: scale(1)
				&:hover::after
					right: 30px

.top__form
	background: linear-gradient(to right, rgb(44,52,71) 0%,rgb(26,28,44) 100%)
	padding: 30px
	margin-top: -100px
	color: #fff
	position: relative
	// &-wrp
	// 	position: relative
	// 	z-index: 2
	&-top
		margin-bottom: 25px
	&-ttl
		font-family: 'Proxima Nova Bl'
		font-size: 28px
		margin-bottom: 15px
	&-subttl
		font-size: 20px
	&-input-wrp
		input[type="tel"]
			background-color: #fff
			margin-right: 10px
.works
	.col-xl-3
		padding-left: 0
		padding-right: 0
	&__cnt
		margin: 0
	&__item
		max-width: 470px
		min-height: 300px
		margin-left: auto
		margin-right: auto
		background-position: 50% 50%
		background-size: cover
		background-repeat: no-repeat
		padding: 15px 20px
		color: #fff
		box-shadow: inset 0px -142px 70px -44px rgba(0,0,0,0.75)
		transition: .8s all ease
		&:hover
			text-decoration: none
			transform: scale(.97)
			color: #fff
			box-shadow: inset 0px -142px 92px -30px rgba(11, 21, 48, 0.89)
		&-ttl
			font-size: 16px
			margin-bottom: 10px
			text-decoration: underline
		&-time
			position: relative
			margin-right: 40px
			padding-left: 25px
			&::before
				content: ''
				position: absolute
				left: 0
				top: -1px
				width: 19px
				height: 19px
				background: url(../img/icon__time.png) no-repeat 50% 50% / contain
		&-area
			position: relative
			padding-left: 25px
			&::before
				content: ''
				position: absolute
				left: 0
				top: -1px
				width: 19px
				height: 19px
				background: url(../img/icon__area.png) no-repeat 50% 50% / contain
.test
	padding-bottom: 30px
	&__item
		margin-bottom: 15px
		&-img
			width: 75px
			height: 75px
			background-position: 50% 50%
			background-size: contain
			background-repeat: no-repeat
		&-ttl
			width: 70%
			font-size: 16px
			margin-left: 15px
.hot
	.hot__cnt
		.owl-nav
			button.owl-prev
				left: -60px
			button.owl-next
				right: -60px
	&__item
		display: block
		margin-left: auto
		margin-right: auto
		max-width: 370px
		min-height: 300px
		background-position: 50% 50%
		background-size: cover
		background-repeat: no-repeat
		padding: 15px 20px
		color: #fff
		box-shadow: inset 0px -142px 70px -44px rgba(0,0,0,0.75)
		transition: .8s all ease
		&:hover
			text-decoration: none
			transform: scale(.97)
			color: #fff
			box-shadow: inset 0px -142px 92px -30px rgba(11, 21, 48, 0.89)
		&-ttl
			font-size: 16px
			margin-bottom: 10px
			text-decoration: underline
		&-list
			&-item
				position: relative
				padding-left: 21px
				&::before
					content: ''
					position: absolute
					left: 0
					top: 2px
					width: 16px
					height: 15px
					background: url(../img/icon__arr.svg) no-repeat 50% 50% / contain
			&-item:not(:last-child)
				margin-bottom: 7px
.clients
	&__item
		width: 90%
		height: 90px
		margin: auto
		background-position: 50% 50%
		background-size: contain
		background-repeat: no-repeat
		filter: grayscale(100%)
		&:hover
			filter: grayscale(0%)
		&-wrp
			border: 1px solid rgba(204, 204, 204, 0.59)
			padding: 15px 15px
.news
	background-color: #F4F4F4
	&__item
		margin-bottom: 15px
		&-img
			width: 100%
			height: 182px
			background-position: 50% 50%
			background-size: cover
			background-repeat: no-repeat
			margin-bottom: 10px
		&-ttl
			color: #000
			font-weight: 600
			font-size: 18px
			margin-bottom: 7px
		&-descr
			color: #585555
			font-weight: 300
			margin-bottom: 10px
		&-btn
			position: relative
			font-family: 'Proxima Nova Bl'
			letter-spacing: 2px
			text-transform: uppercase
			color: #0040D5
			&::after
				color: #0040D5
				right: 116px
				top: -7px
		&:hover
			opacity: .7
.seo-text
	text-align: center
.footer
	position: relative
	background-position: 50% 50%
	background-size: cover
	background-repeat: no-repeat
	color: #fff
	padding: 20px 0
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: #000
		opacity: .8
	&__container
		position: relative
		.footer-top
			padding: 20px 0
			&__logo
				img
					max-width: 190px
				&:hover
					opacity: .5
					transform: scale(.95)
			&__item
				margin-right: 25px
				position: relative
				font-size: 17px
				padding-left: 30px
				&:hover
					color: #00BFF3
				&::before
					content: ''
					position: absolute
					left: 0
					top: -1px
					width: 25px
					height: 25px
					background-position: 50% 50%
					background-size: contain
					background-repeat: no-repeat
				&_tel
					font-family: 'Proxima Nova Bl'
					&::before
						background-image: url(../img/icon__tel.png)
				&_mail::before
					background-image: url(../img/icon__mes.png)
					left: -2px
		.footer-bot
			margin: 10px auto
			.footer__list
				margin-bottom: 15px
				&-ttl
					font-size: 16px
					font-family: 'Proxima Nova Bl'
					color: #626262
					letter-spacing: 2px
					text-transform: uppercase
					margin-bottom: 10px
					&_soc
						margin-top: 10px
				&-item:not(:last-child)
					margin-bottom: 7px
			.footer__soc
				&-link:not(:last-child)
					margin-right: 8px
				&-link:hover
					opacity: .7
					transform: scale(.90)
			.footer__site-creator
				text-transform: uppercase
				span:not(:last-child)
					margin-right: 5px
				span:nth-child(1)
					color: #626262
				span:nth-child(3)
					color: #fff
				&:hover
					transform: scale(1.05)
					opacity: .7
@import "media"