@media screen and ( max-width: 1200px )
	.footer-top,
	.header
		flex-direction: column !important
		align-items: center !important
	.header__logo
		display: block
		text-align: center
		
		margin-bottom: 15px
	.footer-top__logo
		margin-bottom: 15px
	.header__btn
		margin: 15px auto 0
	.banner__container .header__search
		width: 100%
		margin-top: 15px
		margin-left: 0
	.header__search .header__search-query
		display: block
		width: 100%
		padding: 15px 35px 15px 30px
		border: 1px solid #fff
	// .banner_inner .header__search
	// 	margin-top: 15px
	// .banner_inner .header__search .header__search-query
	// 	border-color: #000
	.main-nav
		flex-direction: column !important
	.main-nav__link
		margin-bottom: 15px
	.top__form
		text-align: center
	.top__form-top
		flex-direction: column !important
		align-items: center !important
	.top__form-input-wrp
		margin-top: 30px

@media screen and ( max-width: 768px )
	.banner__container .offer__ttl
		font-size: 26px
	.top__form-ttl
		font-size: 22px
	.footer-top__right
		flex-direction: column !important
		justify-content: center !important
		align-items: center
	.banner__container .header__search
		margin-left: 0
	.banner__container .header__item,
	.footer__container .footer-top__item
		margin-right: 0
	.banner__container .header__item_tel
		margin-right: 10px
	.header__item,
	.header__btn,
	.footer-top__item,
	.footer-top__btn
		margin-bottom: 15px
	.section__ttl,
	.main-slider__ttl
		font-size: 25px
		margin-bottom: 25px
	.banner__container .header__hamburger
		display: block
	.clients__item
		filter: grayscale(0)
	.banner__container .main-nav
		position: fixed
		width: 100%
		height: 100%
		justify-content: center !important
		z-index: -1
		left: -100%
		top: 0
		background: linear-gradient(to right, #2c3447 0%, #1a1c2c 100%);
		opacity: 0
		padding-left: 30px
		padding-right: 30px
		&.active
			color: #fff
			left: 0
			z-index: 4
			opacity: 1
			> a
				color: #fff
			.main-nav__logo
				display: block
				opacity: 1
			.main-nav__link:not(:last-child)
				margin-bottom: 13px
			.main-nav__contacts
				display: flex
	.banner__container .main-nav__item
		display: block
	.header__item_geo,
	.header__item_time,
	.header__btn
		display: none
	.hot__cnt .owl-nav button.owl-prev,
	.cert .cert__cnt .owl-nav button.owl-prev,
	.videos .videos__cnt .owl-nav button.owl-prev,
	.team .team__cnt .owl-nav button.owl-prev
		left: 0px
	.hot__cnt .owl-nav button.owl-next,
	.cert .cert__cnt .owl-nav button.owl-next,
	.videos .videos__cnt .owl-nav button.owl-next,
	.team .team__cnt .owl-nav button.owl-next
		right: 0px
	.clients__item-wrp
		max-width: 100%
	.gallery__cnt
		margin-left: 0
		margin-right: 0
	.gallery__cnt .owl-item > div
		width: 100%
		margin-left: 0
		margin-right: 0
		max-width: 100%
	.works__cnt > div
		width: 100%
		margin-left: 0
		margin-right: 0
	.clients__cnt
		margin-left: 0
		margin-right: 0
	.footer-top__logo
		display: none
	.footer__container .footer__list:nth-child(1),
	.footer__container .footer__list:nth-child(2)
		display: none !important
	.footer__container .footer-bot .footer__list
		margin-bottom: 35px
	.banner_inner .banner__in .container .banner__adv
		margin-bottom: 25px
		max-width: 300px
		margin-left: auto
		margin-right: auto
	.contacts-feed__policy
		text-align: center
@media screen and ( max-width: 576px )
	.section__ttl
		letter-spacing: 3px
	.top__form-input-wrp
		flex-direction: column !important
	.top__form-input-wrp input[type="tel"]
		margin-right: 0
		margin-bottom: 10px
	.popup__container .popup_call__wrp .popup
		padding-left: 10px
		padding-right: 10px
	.popup__container .popup_call__wrp .popup .form__input
		width: 90%
	.popup__container
		padding: 42px 15px
	.popup__container .fancybox-close-small
		right: 10px
	.feed__calc-item-wrp:last-child
		margin-bottom: 25px
	.banner__in_sub .container .banner__ttl
		font-size: 18px
	.btn_arrow::after
		display: none
	.contacts__item-map
		height: 250px
@media screen and ( max-width: 370px )
	.banner_inner .banner__in .container .banner__ttl
		font-size: 26px
	.banner_inner .banner__in_sub .container .banner__ttl
		font-size: 18px
	.header__right
		width: 100%
		flex-direction: column !important
	.banner__container .header__item_tel
		margin-right: 10px
	.descr__text .section__ttl
		font-size: 18px

@media screen and ( max-width: 344px )
	.header__item_mail
		margin-left: 5px
		margin-top: 15px